<div class="map-info-window-container" *ngIf="post">
  <a [href]="'https://instagram.com/p/' + post?.code" target="_blank">
    <img [src]="(post?.images)[0]" class="insta-image" />
  </a>
  <div class="author" *ngIf="post?.username">
    by
    <a [href]="'https://instagram.com/' + post.username" target="_blank">@{{ post.username }}</a>
    | {{ post?.taken_at * 1000 | dateAgo }} | ❤️ {{ post?.like_count }} <br />
    <a href="#" (click)="deletePost.emit(post)">🗑</a> | <a href="#" (click)="refreshPost.emit(post)">↩️</a>
  </div>
  <div class="caption" *ngIf="post?.caption && showCaption">{{ post.caption }}</div>
</div>
